@import "colors.css";

* {
    font-family: "IosevkaCustom Nerd Font";
    font-size: 22px;
    min-height: 0;
    font-weight: normal;
}

window#waybar {
    color: @text;
    background: @mantle;
}

/* Workspace buttons */
button {
    color: @blue;
    box-shadow: inset 0 3px transparent;
    border: none;
    border-radius: 0;
}

button:hover,
button.active,
button.focused {
    background: inherit;
    box-shadow: inset 0 3px @blue;
}

.modules-right {
    margin-right: 1em;
}

.modules-right > widget > * {
    padding: 0 .4em;
}

.modules-right > widget:not(:last-child) > * {
    margin-right: .4em;
}

#cpu {
    color: @sky;
}

#memory {
    color: @peach;
}

#clock {
    color: @mauve;
}
