* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
}

window#waybar {
  background-color: #0e1019;
  border-top: 1px solid #191b2b;
  color: #eceef4;
  transition-property: background-color;
  transition-duration: 0.3s;
  padding: 0 24px;
  opacity: 0.95;
}

button {
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

button:hover {
  border: none;
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

#workspaces button {
  color: #eceef4;
  padding: 0 5px;
}

#workspaces button:hover {
  border: none;
}

#workspaces button.active {
  color: #89b4fa;
  background: #191b2b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #eceef4;
}
