* {
    font-family: "JetBrainsMono Nerd Font";
    color: #eceef4;
    background: transparent;
}

window {
    margin: 0px;
    background-color: #0C0D14;
}

#input {
    border: none;
    background-color: #0D0F17;
    padding: 12px;
}

#inner-box {
    border: none;
    background-color: transparent;
    padding: 12px;
}

#outer-box {
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
}

#entry {
    border: none;
}

#entry:focus {
    border: none;
}

#entry:selected {
    background-color: #191B2B;
    border: none;
}
